uvicorn[standard]
httpx
openbb-core
openbb-equity
openbb-economy
openbb-index
openbb-etf
openbb-crypto
openbb-currency
openbb-commodity
openbb-fixedincome
openbb-news
openbb-yfinance
openbb-fmp
openbb-sec
openbb-fred
openbb-alpha-vantage
openbb-tiingo
openbb-finviz
openbb-nasdaq
